#myname {
    background: #4aaaa5;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
    margin-left: 10%;
    position: absolute;

}
#navbar {
    background-color: #ffffff;
    height: 90px;
}

#navlinks {
    /* background-color: purple; */
    text-align: center;
    margin-left: 62%;
    position: relative;
    margin-right: 10%;
    margin-top: 10px;
    padding-top:2%;
}
#border {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin-top: 3%;
}

body {
    background: url("../images/concrete_seamless.png");
  }

footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
  }

#mypic {
    float: left;
    margin-right: 2.5%;
}
.container {
    background: #ffffff;
    border: 1px solid #dddddd;
    padding: 30px;
    margin: 3% auto;
    /* width: 100%; */
    max-width: 80%;
}

h2 { 
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #4aaaa5;
    margin-top:2%;
}

.para {
    line-height: 2;
    padding: 10px;
    opacity: .6;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.submit {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 15%;
}

.card-body {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align-last: center;
}


.portfoliopics {
    margin: 3%;
}